@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 70px 50px;
}

.about-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    gap: 20px;
}

.about-card{
    background-color: var(--light);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-card h3, .education-card h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: var(--quicksand);
    font-weight: 100;
    margin: 0px 0px 30px 0;
}

.about-card h2, .education-card h2 {
    color: var(--dark);
    font-size: 28px;
    margin-bottom: 10px;
    font-family: var(--quicksand);
    margin: 0;
}

.about-card p {
    font-size: 16px;
    color: var(--dark-gray);
    font-family: var(--poppins);
    line-height: 1.5;
    margin-top: 60px;
}

.education-container{
    width: 100%;
}

.education-card{   
    background-color: var(--light);
    border-radius: 10px;
    padding: 30px 40px;
}

.education-card p {
    font-size: 16px;
    font-family: var(--poppins);
    line-height: 1.5;
    font-weight: 300;
    margin: 0;
}