@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 100px;
    padding: 20px 60px 60px 20px;
}

.passion-container{
    grid-column: span 2 / span 2;
}

.education-container{
    display: grid;
    grid-column: span 3 / span 3;
    grid-row-start: 2;
}

.about-container,
.passion-container,
.education-container{
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 100%;
    background-color: var(--light);
    border-radius: 20px;
}

.about-container h3,
.passion-container h3,
.education-container h3{
    font-family: var(--quicksand);
    font-size: 24px;
    font-weight: 300;
    color: var(--dark);
    letter-spacing: 5px;
    margin: 0px 0px 40px 0px;
}

.about-container h2,
.education-container h2{
    font-family: var(--quicksand);
    font-size: 36px;
    font-weight: bold;
    margin: 0px;
}

.about-container p{
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 300;
    margin-top: 50px;
    text-align: justify;
}

.passion-container li{
    font-family: var(--quicksand);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.passion-container li ul{
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 300;
    margin: 5px 0px;
}

.education-container p{
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 300;
    margin: 0px;
}

.education-container{
    height: fit-content;
}

.education-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.date-container,
.school-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}