html, body{
    overflow: hidden;
    height: 100%;
}

.scroll-container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    z-index: 1;
    scroll-behavior: smooth;
}

.project-container {
    border-radius: 20px;
    width: 100%;
    margin: 20px 70px;
}

.page-section{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 70px 20px 0px 20px;
    box-sizing: border-box;
}

#section1{
    padding: 70px 20px 70px 20px;
}

#section2{
    background-color: var(--dark-gray);
    border-radius: 50px 50px 0px 0px;
}

#section3{
    background-color: var(--dark-gray);
}

#section4{
    padding-bottom: 90px;
    background-color: var(--dark-gray);
}

.dot-nav{
    background-color: var(--dark-gray);
    border-radius: 20px;
    padding: 15px;
    position: fixed;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 25px;
    z-index: 1000;
}

.dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--light);
    cursor: pointer;
    transition: all 0.3s ease;
}

.dot.active {
    background-color: var(--pink);
    transform: scale(1.3);
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: fit-content auto auto; 
    text-align: center;
}

.div1, .div2, .div3, .div7, .div8, .div9{
    background-color: var(--light);
}
    
.div1 {
    grid-column: span 2 / span 2;
    border-radius: 20px;
    height: fit-content;
}

.div2 {
    overflow: hidden;
    position: relative;
    grid-column-start: 3;
    margin-left: 20px;
    border-radius: 20px 0px 0px 0px;
}

.div3 {
    grid-column-start: 4;   
    border-radius: 0px 20px 0px 0px;
}

.div7 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
    margin-top: 20px;
    border-radius: 20px 0px 0px 20px;
    text-align: left;
    padding: 60px;
}

.div7 .view-details-btn{
    background-color: var(--dark);
    color: var(--light);
    border: none;
    padding: 10px 50px;
    border-radius: 25px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.5s;
    font-family: var(--poppins);
    font-size: 14px;
}

.div7 .view-details-btn:hover{
    background-color: var(--pink);
    color: var(--dark);
}

.div8 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
    border-radius: 0px 0px 20px 0px;
    mask-image: radial-gradient(
        circle 20px at 0 0,
        transparent 0 ,
        transparent 19.5px,
        black 20px
    );
    padding: 40px;
}

.role p, .duration p{
    margin: 0;
}

.role{
    margin-bottom: 40px;
}

.duration{
    margin-bottom: 40px;
}

.div8 .image-container{
    display: flex;
    background-color: var(--dark-gray);
    width: 100%;
    height: 250px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    color: var(--light);
}